<!DOCTYPE html>
<%= provide(:title, "Dashboard") %>

<h1>Dashboard</h1>
<p>Profile</p>
	<ul>
 		<li><%= link_to "My Profile", profile_path(current_user), class: "btn-btn-primary" %></li>
 		<li><%= link_to "Edit Profile", edit_user_registration_path, class: "btn-btn-primary" %></li>
 	</ul>
<p>My Posts</p>
	<ul>
		<li><%= link_to "Create a New Post", new_post_path, class: "btn-btn-primary"  %></li>
		<li><%= link_to "See All My Posts", posts_path(current_user), class: "btn-btn-primary" %></li>
	</ul>
<p>My Drink Preferences</p>
	<ul>
		<li><%= link_to "Create a New Drink Preference", new_drink_path, class: "btn-btn-primary"  %></li>
		<li><%= link_to "See All My Drinks", drinks_path(current_user), class: "btn-btn-primary" %></li>
	</ul>