<%= form_for(@drink) do |f| %>
  <% if @drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drink.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @drink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="field">
     <%= f.label :drink_name %><br>
     <%= f.text_field :drink_name %>
   </div>
   <div class="field">
     <%= f.label :category %><br>
     <%= f.text_field :category %>
   </div>
   <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field hidden">
  <%= f.label :user_id %><br>
  <%= f.text_field :user_id, value: current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
