<p id="notice"><%= notice %></p>

<h1>My Drinks</h1> 

<p>
	<strong>Drink Name:</strong>
	<%= @drink.drink_name %>
</p>
<p>
	<strong>Category:</strong>
	<%= @drink.category %>
</p>
<p><%= image_tag @drink.image.url(:thumb) %> </p>



<%= link_to 'Edit', drinks_path(@drink) %> |
<%= link_to 'Back', drinks_path %>

