<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
   <div class="field">
     <%= f.label :message %><br>
     <%= f.text_area :message %>
   </div>
   <div class="field">
     <%= f.label :time_to_post %><br>
     <%= f.text_field :time_to_post %>
   </div>
   <div class="field">
     <%= f.label :date_to_post %><br>
     <%= f.text_field :date_to_post %>
   </div>
   <div class="field">
     <%= f.label :audience %><br>
     <%= f.text_field :audience %>
   </div>
   <div class="field">
     <%= f.label :location %><br>
     <%= f.text_field :location %>
   </div>
   <div class="field">
    <%= f.label :user_id, autofocus: true, placeholder: "Business Name" %><br>
    <%= f.text_field :user_id %>
   </div>
   <br>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>