
<p id="notice"><%= notice %></p>

<h1>All Posts</h1>

<table class="table table-striped table-hover" >
  <thead>
    <tr>
      <th>Message</th>
      <th>Post Time </th>
      <th>Post Date </th>
      <th>Audience</th>
      <th>Location</th>
      <th>Posted By</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.message %></td>
        <td><%= post.time_to_post %></td>
        <td><%= post.date_to_post %></td>
        <td><%= post.audience %></td>
        <td><%= post.location %></td>
        <td><%= post.user_id %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>