<p id="notice"><%= notice %></p>


<p>
	<strong>Message:</strong>
	<%= @post.message %>
</p>
<p>
	<strong>Time To Post:</strong>
	<%= @post.time_to_post %>
</p>
<p>
	<strong>Date To Post:</strong>
	<%= @post.date_to_post %>
</p>
<p>
	<strong>Audience:</strong>
	<%= @post.audience %>
</p>
<p>
	<strong>Location:</strong>
	<%= @post.location %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'See All Posts', posts_path %> |
<%= link_to 'Add New Posts', new_post_path %>