

<h1>My Posts</h1>

<p><strong>Message:</strong>			<%= @post.message %></p>
<p><strong>Date To Post:</strong>		<%= @post.date_to_post %></p>
<p><strong>Time To Post:</strong> 		<%= @post.time_to_post %></p>
<p><strong>Audience:</strong>			<%= @post.audience %></p>
<p><strong>Location:</strong>			<%= @post.location %></p>


<p><%= link_to 'Edit My Post', edit_post_path %></p>
<p><%= link_to 'Back', posts_path %></p>
